---
layout: default
---

<div class="home">
   <div class="top card">
        <!-- <p class="balance"></a> -->
        <p class="description">
            {% capture welcome_include %}{% include_relative welcome.md %}{% endcapture %}
            {{ welcome_include | markdownify }}
        </p>
    </div>

    <div class="posts card">
        <div class="card-content white-text">
            <span class="card-title">Posts</span>

            <ul class="post-list">
                {% for post in site.posts %}
                <li>
                    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>

            <p class="rss-subscribe"><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS Feed</a></p>
        </div>
    </div>

    <div class="posts card">
        <div class="card-content white-text">
            <span class="card-title">Spenden</span>

            <ul class="post-list" id="donations">
                {% for post in site.posts %}
                <li>
                    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div>
  <div id="count">
  <h4>Anzahl der Spender</h4>
  <h5> load_count </h5>
</div>

<div>
  <div id="balance">
    <h4>aktueller Spendenbetrag</h4>
    <button type ="button" onclick="load_balance()">Betrag</button>
</div>

<script type="text/javascript">
  function load_donations() {
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
      if (xhr.readyState == 4 && xhr.status == 200) {
        var data = JSON.parse(xhr.responseText);
        var ul_donations = document.getElementById("donations");
        data.forEach(function(donation) {
          var li = document.createElement("li");
          var meta = document.createElement("span");
          var name = document.createElement("span");

          var date = new Date(donation.date);
          var day = date.getDate();
          var month = date.getMonth() + 1;
          var year = date.getFullYear();
          
          meta.classList.add("post-meta");
          meta.innerHTML = day + "." + month + "." + year;

          name.classList.add("post-link");
          name.innerHTML = donation.name + " - " + donation.amount + " €";

          li.appendChild(meta);
          li.appendChild(name);

          ul_donations.appendChild(li);
        });
      }
    };
    xhr.open("GET", "https://bedon.herokuapp.com/donations", true);
    xhr.send();
  }

  function load_balance() {
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
      if (xhr.readyState == 4 && xhr.status == 200) {
        console.log(xhr.responseText);
      }
    };
    xhr.open("GET", "https://bedon.herokuapp.com/balance", true);
    xhr.send();
  }

  function load_count() {
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
      if (xhr.readyState == 4 && xhr.status == 200) {
        console.log(xhr.responseText);
      }
    };
    xhr.open("GET", "https://bedon.herokuapp.com/count", true);
    xhr.send();
  }

  load_donations();
</script>
