---
layout: default
---

<div class="home">
  <div class="count" id="count">
  </div>

  <div class="balance" id="balance">
  </div>

   <div class="top card">
        <!-- <p class="balance"></a> -->
        <p class="description">
            {% capture welcome_include %}{% include_relative welcome.md %}{% endcapture %}
            {{ welcome_include | markdownify }}
        </p>
    </div>

    <div class="posts card">
        <div class="card-content white-text">
            <span class="card-title">Posts</span>

            <ul class="post-list">
                {% for post in site.posts %}
                <li>
                    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>

            <p><a class="btn" href="https://www.spiegel.de/thema/nachhaltigkeit/">Nachhaltigkeitsnachrichten</a></p>
        </div>
    </div>

    <div class="posts card">
        <div class="card-content white-text">
            <span class="card-title">Spenden</span>

            <ul class="post-list" id="donations">
            </ul>
        </div>
    </div>
</div>

<style>
  .count {
    float: left;
    margin-left: 17%;
    margin-top: 50px;
    font-size: 3.5em;
  }

  .balance {
    float: right;
    margin-right: 14%;
    margin-top: 50px;
    font-size: 3.5em;
  }
</style>

<script type="text/javascript">
  function load_donations() {
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
      if (xhr.readyState == 4 && xhr.status == 200) {
        var data = JSON.parse(xhr.responseText);
        var ul_donations = document.getElementById("donations");
        // for donation in data:
        data.forEach(function(donation) {
          var li = document.createElement("li");
          var meta = document.createElement("span");
          var name = document.createElement("span");

          var date = new Date(donation.date);
          var day = date.getDate();
          var month = date.getMonth() + 1;
          var year = date.getFullYear();

          meta.classList.add("post-meta");
          // innerhtml ist unter meta also was im block drinnensteht
          meta.innerHTML = day + "." + month + "." + year;

          name.classList.add("post-link");
          name.innerHTML = donation.name + " - " + donation.amount + " €";

          li.appendChild(meta);
          li.appendChild(name);

          ul_donations.appendChild(li);
        });
      }
    };
    xhr.open("GET", "https://bedon.herokuapp.com/donations", true);
    xhr.send();
  }

  function load_balance() {
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
      if (xhr.readyState == 4 && xhr.status == 200) {
        var div = document.getElementById("balance");
        div.innerHTML = xhr.responseText;
      }
    };
    xhr.open("GET", "https://bedon.herokuapp.com/balance", true);
    xhr.send();
  }

  function load_count() {
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
      if (xhr.readyState == 4 && xhr.status == 200) {
        console.log(xhr.responseText);
        var div = document.getElementById("count");
        div.innerHTML = xhr.responseText;
      }
    };
    xhr.open("GET", "https://bedon.herokuapp.com/count", true);
    xhr.send();
  }

  load_donations();
  load_balance();
  load_count();
</script>
